/* Small Phones*/

@media only screen and (max-width:480px) {
    .row {
        width: 90%;
    }
    .description {
        width: 90%;
        padding: 1%;
        margin-top: 1%;
    }
    .main-nav {
        float: none;
    }
    .main-nav li {
        display: block;
        margin-top: 2%;
    }
    
    .hero-text-box {
        
        width: 90%;
        top: 50%;
        left: 5%;
    }
    .iphone-logo {
        float: none;
    }
}


/* Small phones to  Small tablets*/

@media only screen and (max-width:767px) and (min-width:481px) {
    .row {
        width: 90%;
    }
    .steps {
        width: 100%;
        margin: 5% auto;
    }
    .app-store-button {
        margin: 10% auto;
    }
    .iphone-logo {
        float: none;
    }
    .description {
        width: 70%;
        padding: 1%;
        margin-top: 1%;
    }
    .main-nav {
        float: none;
    }
    .main-nav li {
        display: block;
        margin-top: 2%;
    }
    .hero-text-box {
        
        width: 70%;
        top: 50%;
        left: 10%;
    }
}
/*Small tabs to large tabs*/

@media only screen and (max-width:1023px) and (min-width:766px) {
    .row {
        width: 95%;
    }
    .steps {
        width: 100%;
        margin: 5% auto;
    }
    .app-store-button {
        margin: 10% auto;
    }
    .iphone-logo {
        float: none;
    }
    .steps > p {
        width: 90%;
    }
    .description {
        width: 60%;
        padding: 1%;
    }
    
     .hero-text-box {
        
        width: 90%;
        top: 50%;
        left: 10%;
    }
}


/*for larger device*/

@media only screen and (max-width:1200px) {
    .row {
        width: 95%;
    }
    .steps > p {
        width: 80%;
    }
}