/* Basic Setup*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: Lato, Ariel, sans-sarif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0 80px 0;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 40px;
}

h3 {
    font-size: 140%;
    font-weight: 300;
    text-align: left;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.box {
    padding: 1%;
}

.togglebutton{
    font-size:180%;
    height: 60px;
    width:auto;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    color: white;
    display: none;
    border-radius:10px;
    float: right;
    margin: 1% auto;
    transition: background-color 0.5s;
}
.togglebutton:hover{
    background-color: #d35400
}

.active{
    display: inline-block;
}
.inactive{
    display: none;
}


/*icon*/

.icon-big {
    display: block;
    font-size: 400%;
    color: #d35400;
}

.clearfix {
    zoom: 1;
    font-size: 1px;
}

.clearfix:after {
    clear: both;
    visibility: hidden;
    content: '.';
   
}

.clearfixlist {
    zoom: 1;
}

.clearfixlist:after {
    clear: both;
    visibility: hidden;
    content: '.';
   
}

.fadein {
    animation-name: fadein;
    animation-duration: 2s;
}

.bounce {
    animation-name: bounceUp;
    animation-duration: 2s;
}


/*icon*/


/*header setup*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)), url(../images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.hero-text-box {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 15%;
}

.hero-text-box h1 {
    color: #fff;
    font-size: 200%;
    font-weight: 300;
}



/*Button styling*/

.btn {
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
    height: auto;
    border-radius: 200px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.btn.main:link,
.btn.main:visited {
    background-color: #d35400;
    transition: background-color .5s;
}

.btn.ghost:link,
.btn.ghost:visited {
    border: 1px solid #d35400;
    background-color: transparent;
    transition: background-color .5s;
}

.btn.main:hover {
    background-color: #ff6804;
}

.btn.ghost:hover {
    background-color: #d35400;
}


/*Navigation bar*/


.logo {
    height: 100px;
    width: auto;
    margin-top: 1%;
    margin-left: 2%;
    float: left;
    transition: height 0.5s;
}

.main-nav {
    float: right;
    list-style: none;
    margin: 2% 0 2% 0;
    background-color: transparent;
    font-size: 0;
    display: inline-block;
    transition: font-size 0.5s;
    
}


.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
   
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 90%;
    padding-bottom: 5px;
    border-bottom: 0px solid transparent;
    transition: border-color 0.6s;
}

.main-nav li a:hover {
    text-decoration: none;
    color: white;
    font-size: 90%;
    border-bottom: 1px solid #d35400;
    
}

.sticky {
    position: fixed;
    width: 100%;
    background-color: black;
}

.sticky >.row >.logo {
    height: 60px;
    margin-bottom: 1%;
}

.main-nav.active{
   font-size: 110%;
}

/* feature Section styles*/

.long-copy {
    line-height: 140%;
    width: 70%;
    margin: 0% auto;
}

.box p {
    padding: 1%;
    line-height: 1.2em;
    font-size: 90%;
}


/*Meals Showcase*/

.meals-showcase {
    padding: 0;
}

.meals-section {
    list-style: none;
    width: 100%;
    display: block;
}

.meals-section li {
    display: block;
    float: left;
    width: 25%;
}

.meals-section li figure {
    max-width: 100%;
    height: auto;
}

.meals-section li figure img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 1s;
}

.meals-section li figure img:hover {
    transform: scale(1.15);
}


/*how it works*/

.section-steps {
    background-color: whitesmoke;
}

.iphone-logo {
    float: right;
    margin: 5% 5%;
    max-width: 40%;
}

.steps {
    display: block;
    margin: 10% auto;
}

.steps >div {
    height: 50px;
    width: 50px;
    border-radius: 400px;
    border: 1px solid #d35400;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
}

.steps > p {
    font-size: 80%;
    display: inline-block;
}

.app-store-button {
    margin: 20% auto;
}

.app-store-button > a >img {
    height: 40px;
    width: auto;
}


/*Cities Section*/

.user-box {
    width: 100%;
}

.user-box > p {
    display: block;
    margin: 1% auto;
    font-size: 90%;
}

.user-box > p >i {
    color: #d35400;
    font-size: 140%;
}

.user-box > img {
    max-width: 90%;
    border-radius: 5px;
}


/*sign-up section styling*/

.section-signup {
    background-color: whitesmoke;
}

.description {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #9d9292;
    width: 90%;
    padding: 2%;
    margin: 0 auto;
}

.description h2 {
    text-align: left;
    margin-bottom: 5%;
}

.description > p >i {
    font-size: 150%;
    color: #d35400;
    display: inline-block;
    margin-right: 10%;
    font-weight: 400;
}

.amount {
    font-size: 200%;
    color: #d35400;
    margin-bottom: 5%;
}


/*footer*/

footer {
    background-color: #242323;
    padding: 20px;
}

footer ul {
    list-style: none;
    width: 100%;
}

.footer-nav li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.footer-nav li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.footer-nav li a:hover {
    color: blueviolet;
}

.social-nav li {
    display: inline-block;
    float: left;
    margin-left: 10%;
}

.social-nav li a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    transition: color 0.5s;
}

.social-nav li a:hover {
    color: blueviolet;
}

.description-footer {
    font-size: 70%;
    color: white;
    font-weight: 100;
}