html {
    background-color: #fff;
    color: #555;
    font-family: Ariel, sans-sarif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container {
    width: 90%;
    margin: 1% auto;
}

.view {
    position: relative;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  
}

.navigator{
    position: fixed;
    bottom: 10%;
    left: 45%;
}

.currentPos{
    text-align: center;
    font-size: 200%;
    color: white;
}
.navHeader{
    background-color: #d35400;;
    border-radius: 200px;
}
