*{
    margin:0;
    padding:0;
}
canvas{
    width:70%;
    height: 95vh;
    float: left;
}
.scoreBoard{
    float: right;
    width: 27%;
    margin: 1% auto;
    font-family: sans-serif;
    
}

.scoreBoard p{
   font-size: 30px;
   border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    
}