<h1>Select Payment method</h1>
<ul class="list-group">
  <li class="list-group-item"><input type="checkbox" value="CreditCard">  <h3 class="step2"><span class="label label-primary">Credit Card </span></h3></li>
  <li class="list-group-item"><input type="checkbox" value="DebitCard"><h3 class="step2"><span class="label label-primary">Debit Card</span></h3></li>
  <li class="list-group-item"><input type="checkbox" value="PAYTM"><h3 class="step2"><span class="label label-primary">PAYTM</span></h3></li>
  <li class="list-group-item"><input type="checkbox" value="NEFT"><h3  class="step2"><span class="label label-primary">NEFT</span></h3></li>
  <li class="list-group-item"><input type="checkbox" value="OTHERS"><h3 class="step2" ><span class="label label-primary">OTHERS</span></h3></li>
</ul>