.container {
    width: 90%;
    margin: 1% auto;
    font-family: sans-serif
}
a {
    text-decoration: none;
    display: block;
    width: inherit;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.5;
    border-radius: 5px;
    color: white;
    padding: 5px 0px 5px 5px;
    margin:1% 0 1% 0;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.content {
    width: 60%;
    float: left;
}
.sideBar {
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
.accordian-content{
    height: 0px;
    display:block;
    overflow: hidden;
    transition: height 0.2s;
}
.accordian-content.active{
    height: 100px;
}

.collapse-content {
    display: block;
    height: 0px;
    overflow: hidden;
    transition:height 0.3s ease-in;
    
}
.collapse-content.active {
    height: 500px;
    overflow: hidden;
}
.collapse-content > p {
    font-size: 15px;
    line-height: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
@keyframes collapse {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
