 body {
     background-color: white;
 }
 /*Drag and Drop styling*/
 
 .drag {
     width: 100px;
     height: 100px;
     background-color: green;
     position: absolute;
     margin: 10px;
     z-index: 100
 }
 .drag1 {
     width: 100px;
     height: 100px;
     background-color: red;
     position: absolute;
     margin: 10px;
     z-index: 100;
 }
 .red-drop-zone {
     background-color: red;
     width: 200px;
     height: 200px;
     position: absolute;
     left: 60%;
     top: 1%;
     border: 1px solid black;
     border-radius: 5px;
     transition: background-color 1s, transform 1s;
 }
 .red-drop-zone.dropped {
     background-color: black;
     transform: rotate(180deg);
 }
 .green-drop-zone {
     background-color: green;
     width: 200px;
     height: 200px;
     position: absolute;
     left: 60%;
     top: 50%;
     border: 1px solid black;
     border-radius: 5px;
     transition: background-color 1s, transform 1s;
 }
 .green-drop-zone.dropped {
     background-color: black;
     transform: rotate(180deg);
 }
 
 /*Carousel CSS*/
 
 .container {
     width: 90%;
     margin: 1% auto;
 }
 .carousel-main {
     position: relative;
     text-align: center;
     width: 80%;
     margin: 0% auto;
     border-radius: 10px;
     border: 1px solid white;
     overflow: hidden;
     height: auto;
 }
 .carousel-inner {
     position: relative;
     list-style: none;
     width: 3000px;
 }
 .carousel-inner > .slide {
     position: relative;
     float: left;
     left: -900px;
 }
 .carousel-inner > .slide img {
     max-width: 100%;
     border-radius: 10px;
     border: 1px solid gray;
 }
 .carousel-control {
     position: absolute;
     width: 15%;
     top: 0;
     bottom: 0;
     left: 0;
     font-size: 40px;
     font-weight: bolder;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 0.5;
     display: inline-block;
     text-decoration: none;
 }
 .carousel-control:hover {
     background-color: rgba(0, 0, 0, 0.4);
 }
 .carousel-control.left {
     left: 0;
 }
 .carousel-control.right {
     right: 0;
     left: auto;
 }
 .icon {
     position: absolute;
     top: 50%;
     left: 50%;
 }
 .caption {
     position: absolute;
     right: 15%;
     bottom: 20px;
     left: 15%;
     z-index: 10;
     padding-top: 20px;
     padding-bottom: 20px;
     color: #fff;
     text-align: center;
     text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 }
 @keyframes slide {
     0% {
         left: 0px
     }
     100% {
         left: -780px
     }
 }
