.container{
    width:90%;
    margin:1% auto;
}
input[type="text"]{
    width:50%;
    border-radius: 5px;
    height:20px;
}

#optionList > a{
    height: 30px;
    width: 90%;
    display:block;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin:0% auto;
    font-family: sans-serif;
    font-size: 14px;

}
#optionList > a:hover{
    background-color: rgba(196, 178, 178, 0.5);
    
}