.container{
    width:90%;
    margin:auto;
}

.thumbnail{
    float:left;
    width:20%;
    height:auto;
    margin:1% 1%;
}

.thumbnail >img{
    max-width:100%;
    transition:  transform 1s;
    border-radius: 5px
}

.thumbnail >img:hover{
    
    transform: scale(1.15);
}