/*Basic styling*/
body{
    width:100%;
    font-size:75%;
    font-family: arial, sans-serif;
    line-height: 1.7em;
    
}

a{
    text-decoration: none;
    display:inline-block;
    height: 20px;
    background-color: rgb(150,100,255);
    color: white;
    padding:10px;
    border-radius: 5px;
    text-align: center;

}

a:hover{
   background-color:rgb(150,50,255);
}

/*Modal Box Styling*/

.modalBox{
    position:fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    display:none;
    z-index:10000;
    background-color: rgba(0,0,0,0.8);
    
}

.modalBox:target{
    display:block;
}

.modalBox > div{
    position:relative;
    width:50%;
    height:auto;
    padding: 10px;
    background-color: rgb(200,100,100);
    border-radius: 10px;
    margin:15% auto;
    text-align: left;
    
}
.modalBox >div> a{
    text-decoration: none;
    display:inline-block;
    height: 20px;
    background-color: rgb(0,200,100);
    color: white;
    width:20%
    padding:10px;
    border-radius: 5px;
    text-align: right;
}