body{
    margin:0;
}
.container {
     width: 90%;
     margin: 1% auto;
 }

.content{
    position: relative;
    width:100%;
    padding: 1px;
}

.content >article{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.7em;
    color: rgba(74, 55, 55,0.8);
}

.menubar{
    position: fixed;
    top:10%;
    left:0;
    width:0%;
    z-index: 1000;
    border: 5px solid gray;
    height: 500px;
    border-radius: 5px;
    padding-top:5%;
    background-color: rgba(0,0,0,0.7);
    transition: width 0.2s ease-in;
    
}

.menubar:hover{
     width:30%;
}


.menubar  a{
    display: block;
    width:90%;
    height: 40px;
    background-color: rgba(100, 29, 32,0.5);
    color: white;
    text-decoration: none;
    font-family:fantasy;
    border: 1px solid black;
    border-radius:5px;
    margin: 2% auto;
    text-align: center;
        
}