*{
    margin:0;
    padding:0;
}
canvas{
    width:80%;
    height: 95vh;
    float: left;
}
.scoreBoard{
    float: right;
    width: 18%;
    margin: 1% 1%;
    font-family: sans-serif;
    
}

.scoreBoard p{
   font-size: 30px;
   border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #670505;
    
}